<!DOCTYPE hmtl>
<html>
	<head>
		<title>Play New Quattro</title>
		<script type="text/javascript" src="/js/base.js"></script>
    	<link rel="stylesheet" href="/css/main.css" />
    	<script type="text/javascript" src="/js/signon.js"></script>
	</head>
	<body>
		<!-- WRAPPER --><div id="content">
      		<div id="signin">
        		<div id="signinStatusContainer">
          		<!-- Need an extra container since G+ overrides CSS on the actual button -->
          		<div id="signinButtonContainer" class="visible">
            		<div id="signinButton"></div>
          		</div>
          		<a href="#" onclick="codefin.quattro.signout();" id="signedInStatus">Sign Out</a>
        		</div>
        		<span id="userLabel">(not signed in)</span>
      		</div>

      		<div id="warning">
        		<h2>You must sign in to play!</h2>
      		</div>

      		<div id="board" class="hidden">

      		<table>
          		<tr class="row-0">
            		<td class="col-0">-</td>
            		<td class="col-1">-</td>
            		<td class="col-2">-</td>
            		<td class="col-3">-</td>
            		<td class="col-4">-</td>
            		<td class="col-5">-</td>
            		<td class="col-6">-</td>
          		</tr>
          		<tr class="row-1">
            		<td class="col-0">-</td>
            		<td class="col-1">-</td>
            		<td class="col-2">-</td>
            		<td class="col-3">-</td>
            		<td class="col-4">-</td>
            		<td class="col-5">-</td>
            		<td class="col-6">-</td>
          		</tr>
          		<tr class="row-2">
            		<td class="col-0">-</td>
            		<td class="col-1">-</td>
            		<td class="col-2">-</td>
            		<td class="col-3">-</td>
            		<td class="col-4">-</td>
            		<td class="col-5">-</td>
            		<td class="col-6">-</td>
          		</tr>
          		<tr class="row-3">
            		<td class="col-0">-</td>
            		<td class="col-1">-</td>
            		<td class="col-2">-</td>
            		<td class="col-3">-</td>
            		<td class="col-4">-</td>
            		<td class="col-5">-</td>
            		<td class="col-6">-</td>
          		</tr>
          		<tr class="row-4">
            		<td class="col-0">-</td>
            		<td class="col-1">-</td>
            		<td class="col-2">-</td>
            		<td class="col-3">-</td>
            		<td class="col-4">-</td>
            		<td class="col-5">-</td>
            		<td class="col-6">-</td>
          		</tr>
          		<tr class="row-5">
            		<td class="col-0">-</td>
            		<td class="col-1">-</td>
            		<td class="col-2">-</td>
            		<td class="col-3">-</td>
            		<td class="col-4">-</td>
            		<td class="col-5">-</td>
            		<td class="col-6">-</td>
          		</tr>
        	</table>

      		</div>
      		<div id="victory"></div>
      <!-- FOOTER --><div id="footer">
      		<p>&copy; 2014 Sergio Perez Aranda. </p>
      	<!-- FOOTER --></div>
		<!-- WRAPPER --></div>
	</body>
</html>